$main-color: #1A1E2E;
$secondary: #B6B6B6;
$pure-white: #ffff;
$dirty-whit: #cfcfcf;


// main-gradient
// background: rgb(26,30,46);
// background: linear-gradient(90deg, rgba(26,30,46,0) 0%, rgba(26,30,46,1) 100%);