@media (min-width: 768px) {
	.header {
		&__content {
			top: 25%;
			h1 {
				font-size: 60px;
			}
			p {
				display: block;
				margin: 2.4rem 0;
				color: c.$pure-white;
			}
		}
	}
	.menu-mobile {
		width: 30%;
	}
	.abaout {
		&__bg {
			display: block;
		}
		&__top {
			display: flex;
			align-items: center;

			p {
				display: block;
				margin-left: 3em;
				opacity: 0.8;
			}
		}

		&__bootom {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;
			row-gap: 2em;
			column-gap: 3em;
		}
	}
	.project {
		&__content {
			margin-top: 7rem;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 1fr;
			gap: 6rem;
		}
	}
	.order{
		&__steps-list-itrm{
			&--one{
				top: 30%;
			}
			&--two{
				top: 30%;
			}
			&--three{
				top: 30%;
			}
			p{
				display: block;
			}
		}
	}
	.footer {
		&__content {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 1fr;
			gap: 2rem;
		}
		&__box {
			&--newsletter {
				grid-column: 3/5;
			}
		}
		&__newsletter {
            display: block;
            p{
                padding: 1rem 0;
                font-size: 16px;
            }

			input {
                margin: .8rem 0;
				padding: 0.3em 2em;
				font-size: 1.8rem;
				color: c.$main-color;
				background-color: c.$pure-white;
				border: none;
				border-radius: 20px;
			}

			form {
				display: flex;
				flex-direction: column;

                .main-btn{
                 max-width: 150px;
                 margin: .5rem 0;
                }
			}
		}
        &__newsletter-check-bar{
            display: flex;

            p{
                font-size: 1.2rem;
                margin-left: 1rem;
            }
        }
	}

	// Order

	.how-to-order{
		margin-top: 200px;
	
		&__top{
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: 1fr;
			overflow: hidden;
	
		}
		&__text{
			padding: 3rem 1.5rem 5rem;
			background-color: c.$main-color;
			color: c.$pure-white;
	
			.section-title{
				margin-bottom: 5rem;
			}
	
			.main-btn{
				margin-top: 5rem;
			}
	
		}
		&__img{
			display: block;
			background-image: url(/img/konsultant.png);
			background-position: center 0 ;
			background-size: 70%;
			background-repeat: no-repeat;
		}
		&__content{
			display: grid;
			grid-template-columns: 1fr ;
			grid-template-rows: repeat(7, auto);
		}

		&__acc-box{
			border: 2px solid c.$main-color;
			padding: 1.5rem;
	
			h3{
				padding: 1rem 0;
			}
	
			.acc-title{
				display: flex;
				align-items: center;
				padding: .5rem 0;
				background-color: lime;
				cursor: pointer;
				p{
					font-size: 2.2rem;
					margin-left: 1.5rem;
				}
				i{
					transition: all .3s;
				}
			}
			.acc-content{
				height: 0;
				overflow: hidden;
				font-size: .5rem;
				transition:all .3s;
			}
	
		}
	
	}
	
}

